* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  accent-color: #5f428f;
  --coolgrey-100: #faf9fb;
  --coolgrey-200: #f2f1f4;
  --coolgrey-300: #eae8ed;
  --coolgrey-400: #e2e0e5;
  --coolgrey-600: #868091;
  --coolgrey-700: #676170;
  --coolgrey-800: #504c57;
  --coolgrey-900: #3c3941;
  --truegrey-400: #e3e3e3;
  --gold-300: #faead1;
  --gold-400: #f5d6a3;
  --green-400: #84dcc0;
  --green-500: #24bc8c;
  --peach-400: #f2c4b0;
  --red-500: #ed9798;
  --violet-500: #b19cd3;
  --violet-600: #9880c2;
  --violet-700: #5f428f;
  --violet-900: #331a5b;
  --yellow-400: #f9e89d;
  --sans-serif-stack: "Quicksand", "Source Sans 3", "Source Sans Pro",
    "Work Sans", "Lato", "Noto Sans", "Assistant", "Libre Franklin", "Open Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --display-stack: "Quicksand", "Gluten", "Grandstander", "Times New Roman",
    Times, serif;
  --outOfSeasonStrokeOpacity: 0.1;
  --outOfSeasonFillOpacity: 0.5;
  --food-red-fill: var(--red-500);
  --food-red-stroke: var(--red-500);
  --food-brown-fill: var(--peach-400);
  --food-brown-stroke: var(--peach-400);
  --food-purple-fill: var(--violet-500);
  --food-purple-stroke: var(--violet-500);
  --food-yellow-fill: var(--yellow-400);
  --food-yellow-stroke: var(--yellow-400);
  --food-green-fill: var(--green-500);
  --food-green-stroke: var(--green-500);
  --food-orange-fill: var(--gold-400);
  --food-orange-stroke: var(--gold-400);
  --food-white-fill: #fff;
  --food-white-stroke: var(--truegrey-400);
  --food-unknown-fill: #949494;
  --food-unknown-stroke: #949494;
  --transition-radial-viz-rotation: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

@media (prefers-color-scheme: dark) {
  :root {
    --coolgrey-100: #232027;
    --coolgrey-200: #504c57;
    --coolgrey-300: #676170;
    --coolgrey-400: #868091;
    --coolgrey-700: #eae8ed;
    --coolgrey-900: #faf9fb;
    --gold-300: #faead1;
    --gold-400: #ecb255;
    --green-400: #09a573;
    --green-500: #24bc8c;
    --peach-400: #e17547;
    --red-500: #ed9798;
    --violet-500: #9880c2;
    --violet-600: #b19cd3;
    --violet-700: #d5cbe6;
    --violet-900: #e4ddee;
    --yellow-400: #f6d43c;
    --outOfSeasonStrokeOpacity: 0.8;
    --outOfSeasonFillOpacity: 0.8;
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--coolgrey-900);
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  background-color: var(--coolgrey-100);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--display-stack);
  line-height: 1.2;
  font-weight: 700;
  margin-top: 1.5rem;
}

h3 {
  font-weight: 500;
  margin-top: 0.5rem;
}

.semi-bold {
  font-weight: 600;
}

small {
  font-size: calc(0.75rem + 0.25vw);
}

ul {
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

a {
  color: var(--violet-700);
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  color: var(--coolgrey-700);
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  padding: 0;
  text-transform: uppercase;
}

button.close-dialog {
  background-color: var(--coolgrey-100);
  border: 1px solid var(--coolgrey-700);
  color: var(--coolgrey-700);
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 0.5rem;
}

button.close-dialog:hover {
  transition: background-color 0.15s ease-in-out;
  background-color: var(--coolgrey-300);
}

button.close-dialog:active {
  transition: background-color 0.15s ease-in-out;
  background-color: var(--coolgrey-400);
}

button.close-dialog:focus {
  transition: border-color 0.15s ease-in-out;
  border-color: var(--coolgrey-900)
}

button.next-button,
button.previous-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--violet-700);
  cursor: pointer;
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}

button.next-button:hover,
button.previous-button:hover {
  transition: color 0.15s ease-in-out;
  color: var(--violet-600);
}

button.next-button:active,
button.previous-button:focus {
  transition: color 0.15s ease-in-out;
  color: var(--violet-900);
}

.in-season-this-month,
button.previous-button,
button.next-button {
  display: inline-flex;
  align-items: center;
}

.in-season-this-month {
  margin: 0;
}

.icon-arrow {
  fill: var(--violet-700);
  height: 1rem;
  width: 1rem;
}

.previous-button .icon-arrow {
  transform: rotate(180deg);
}

.page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main-column {
  width: 38rem;
  max-width: 100vw;
  padding-left: 24px;
  padding-right: 24px;
}

article {
  padding: 0;
  margin: 0 auto;
}

figure {
  width: 100%;
}

text {
  fill: #3c3941;
  font: 400 1rem/1.4 var(--sans-serif-stack), sans-serif;
}

.footer-links {
  columns: 1;
  margin-top: 0.5rem;
}

.footer-links p {
  margin-bottom: 0.5rem;
  text-align: left;
}

.copyright-para {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}

dialog {
  margin: auto;
  padding: 0;
}

/* This inner content div prevents clicking the `dialog` element from closing the dialog */
.dialog-content {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  max-width: calc(100% - 16px);
  padding: 1rem;
  width: 375px;
}

.dialog-content p {
  text-wrap: balance;
  text-wrap: pretty;
}

::backdrop {
  background-image: linear-gradient(-14deg,
      var(--violet-500),
      var(--red-500),
      var(--peach-400),
      var(--gold-400));
  opacity: 0.8;
}

@media only screen and (min-width: 500px) {
  .footer-links {
    columns: 3;
  }

  .copyright-para {
    margin-top: 3rem;
  }
}

.color-heading {
  color: var(--coolgrey-700);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.tags-viz {
  /* Set width to 100% so that where there are no tags this container still fills the available space */
  max-width: 38rem;
  width: 100%;
}

.tags {
  min-height: 1.5rem;
}

.example-selected,
.tag {
  background-color: var(--coolgrey-200);
  border-radius: 0.25rem;
  border: 2px solid transparent;
  color: var(--coolgrey-900);
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
}

.example-selected,
.tag.favourite {
  border: 2px solid var(--coolgrey-900);
}

@media (prefers-color-scheme: dark) {
  .tag {
    color: var(--coolgrey-100);
  }
}

.tag.red {
  background-color: var(--red-500);
}

.tag.green {
  background-color: var(--green-400);
}

.tag.orange {
  background-color: var(--gold-400);
}

.tag.purple {
  background-color: var(--violet-500);
}

.tag.yellow {
  background-color: var(--yellow-400);
}

.tag.brown {
  background-color: var(--peach-400);
}

.tag.white {
  background-color: #fff;
  border: 2px solid var(--truegrey-400);
}

.tag.white.favourite {
  border-color: var(--coolgrey-900);
}

@media (prefers-color-scheme: dark) {
  .tag.white.favourite {
    border-color: var(--coolgrey-100);
    border-style: dotted;
  }
}

.selected-favourites-chart-note {
  background: var(--coolgrey-100);
  padding: 1rem 0 0.5rem 0;
  position: sticky;
  top: 0;
}

.out-of-season {
  text-decoration: line-through;
  text-decoration-thickness: 0.1em;
}

.hide-out-of-season #out-of-season-chart-note,
.hide-out-of-season .out-of-season {
  display: none;
}

.radial-viz-overview-wrapper {
  position: relative;
}

.radial-viz-detail-wrapper {
  position: relative;
  min-height: 500px;
  overflow: hidden;
}

.radial-viz-detail {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.radial-viz-detail-position-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.radial-viz-overview-relative-wrapper {
  position: relative;
  width: 100vw;
  max-width: 100%;
  max-height: 100svh;
  min-height: 50svh;
}

.radial-viz-detail-relative-wrapper {
  position: relative;
}

.radial-viz-detail-gradient {
  mask-image: conic-gradient(from 0.5turn at 50% 50%, rgb(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0) 38%, rgb(0, 0, 0, 1) 42%, rgb(0, 0, 0, 1) 58%, rgb(0, 0, 0, 0) 62%, rgb(0, 0, 0, 0) 100%);
}

.radial-viz-tooltip-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  width: 100%;
}

.radial-viz-tooltip-content {
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  text-wrap: balance;
  text-wrap: pretty;
}

@media (min-width: 375px) {
  .radial-viz-tooltip-content {
    max-width: 90vw;
  }
}

.annual-seasonality-section {
  --spaceForTooltip: 2.5rem;

  margin-top: 3rem;
  width: 100vw;
  max-width: 100%;
}

.annual-seasonality-title {
  text-align: center;
  margin-bottom: calc(1rem + var(--spaceForTooltip));
}

.radial-viz-overview-wrapper .radial-viz-tooltip-content {
  transform: translateY(calc(-0.5rem - var(--spaceForTooltip)))
}

.radial-viz-detail__svg-rotate-wrapper {
  /* Prevent the div growing 6px taller and viz moving around month to month using display: flex; */
  display: flex;
  transform: rotate(0deg);
  transition: var(--transition-radial-viz-rotation);
  width: 100%;
  height: 100%;
}

.radial-viz-overview__svg-position-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.radial-viz-overview__svg {
  width: 100%;
  height: auto;
  max-width: 80vw;
  max-height: 80svh;
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.radial-viz-detail__svg {
  height: auto;
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.food-arc-group textPath {
  font-family: var(--sans-serif-stack);
  fill: var(--coolgrey-900);
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .food-arc-group textPath {
    fill: var(--coolgrey-100);
  }
}

.month-label {
  fill: var(--coolgrey-900);
  font-size: 3rem;
}

/* TODO: make this smoother */
@media (min-width: 375px) {
  .month-label {
    font-size: 2.5rem;
  }
}

@media (min-width: 450px) {
  .month-label {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  .month-label {
    font-size: 1.5rem;
  }
}

textPath.out-of-season {
  fill: var(--coolgrey-600);
  text-decoration-thickness: 0.05em;
}

@media (prefers-color-scheme: dark) {
  textPath.out-of-season {
    fill: var(--coolgrey-800);
  }
}

.prevent-double-tap-zoom {
  touch-action: manipulation;
}

.form-group {
  column-count: 2;
}

.radio {
  align-items: center;
  display: flex;
  gap: 4px;
}

.radio label {
  order: 2;
}

.skip-link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.skip-link:not(:focus) {
  display: inline-block;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  border: 0 !important;
}