* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  accent-color: #5f428f;
  --coolgrey-100: #faf9fb;
  --coolgrey-200: #f2f1f4;
  --coolgrey-400: #e2e0e5;
  --coolgrey-700: #676170;
  --coolgrey-900: #3c3941;
  --truegrey-400: #e3e3e3;
  --gold-400: #f5d6a3;
  --green-400: #84dcc0;
  --peach-400: #f2c4b0;
  --red-500: #ed9798;
  --violet-500: #b19cd3;
  --violet-600: #9880c2;
  --violet-700: #5f428f;
  --violet-900: #331a5b;
  --yellow-400: #f9e89d;
  --sans-serif-stack: "Quicksand", "Source Sans 3", "Source Sans Pro",
    "Work Sans", "Lato", "Noto Sans", "Assistant", "Libre Franklin", "Open Sans",
    "Helvetica Neue", Helvetica, Arial, sans-serif;
  --display-stack: "Quicksand", "Gluten", "Grandstander", "Times New Roman",
    Times, serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    --coolgrey-100: #232027;
    --coolgrey-200: #504c57;
    --coolgrey-400: #868091;
    --coolgrey-700: #eae8ed;
    --coolgrey-900: #faf9fb;
    --gold-400: #ecb255;
    --green-400: #09a573;
    --peach-400: #e17547;
    --red-500: #ed9798;
    --violet-500: #9880c2;
    --violet-600: #b19cd3;
    --violet-700: #d5cbe6;
    --violet-900: #e4ddee;
    --yellow-400: #f6d43c;
  }
}

html {
  font-size: 16px;
}

body {
  color: var(--coolgrey-900);
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto;
  background-color: var(--coolgrey-100);
}

h1,
h2 {
  font-family: var(--display-stack);
  line-height: 1.2;
  font-weight: 700;
  margin-top: 1.5rem;
}
h3 {
  font-weight: 500;
  margin-top: 0.5rem;
}
.semi-bold {
  font-weight: 600;
}

small {
  font-size: calc(0.75rem + 0.25vw);
}
ul {
  padding-left: 1rem;
  margin-bottom: 0.25rem;
}
p {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
a {
  color: var(--violet-700);
}
button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  color: var(--violet-700);
  cursor: pointer;
  font-family: var(--sans-serif-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}
button:hover {
  transition: color 0.15s ease-in-out;
  color: var(--violet-600);
}
button:active,
button:focus {
  transition: color 0.15s ease-in-out;
  color: var(--violet-900);
}

#in-season-this-month,
button#previous,
button#next {
  display: inline-flex;
  align-items: center;
}
#in-season-this-month {
  margin: 0;
}

.icon-arrow {
  fill: var(--violet-700);
  height: 1rem;
  width: 1rem;
}
#previous .icon-arrow {
  transform: rotate(180deg);
}
.page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#intro,
#seasonality,
#outro {
  max-width: 38rem;
  padding-left: 24px;
  padding-right: 24px;
}

article {
  padding: 0;
  margin: 0 auto;
}
figure {
  width: 100%;
}

/* .tick line,
.domain {
  stroke: var(--coolgrey-400);
} */

text {
  fill: #3c3941;
  font: 400 16px/1.4 var(--sans-serif-stack), sans-serif;
}

.footer-links {
  columns: 1;
  margin-top: 0.5rem;
}
.footer-links p {
  margin-bottom: 0.5rem;
  text-align: left;
}
.copyright-para {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: left;
}
@media only screen and (min-width: 500px) {
  .footer-links {
    columns: 3;
  }
  .copyright-para {
    margin-top: 3rem;
    /* text-align: center; */
  }
}

.color-heading {
  color: var(--coolgrey-700);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.tag {
  background-color: var(--coolgrey-200);
  border-radius: 0.25rem;
  color: var(--coolgrey-900);
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.25rem;
  margin-right: 0.25rem;
  padding: 0.25rem 0.5rem;
}
@media (prefers-color-scheme: dark) {
  .tag {
    color: var(--coolgrey-100);
  }
}

.tag.red {
  background-color: var(--red-500);
}
.tag.green {
  background-color: var(--green-400);
}
.tag.orange {
  background-color: var(--gold-400);
}
.tag.purple {
  background-color: var(--violet-500);
}
.tag.yellow {
  background-color: var(--yellow-400);
}
.tag.brown {
  background-color: var(--peach-400);
}
.tag.white {
  background-color: #fff;
  border: 1px solid var(--truegrey-400);
  border-radius: 0.25rem;
}

/* .in-season {
} */

.out-of-season {
  text-decoration: line-through;
}

.hide-out-of-season #out-of-season-chart-note,
.hide-out-of-season .out-of-season {
  display: none;
}
